#card {
    border-radius: 5px;
    background-color: white;
}

#card .card-img {
    width: 100%;
}

#card .card-source {
    padding: 5px;
}

#card .card-name {
    margin: 0px;
    padding: 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#card p {
    padding: 10px 10px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}