#rider-card {
    align-items: center; 
    font-family: MotoGP Font;
    text-align: center;
}

#rider-card h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 10px 10px;
}

#rider-card .rider {
    display: flex;
    justify-content: center;
}

#rider-card .container {
    display: flex;
}

#rider-card .card {
    width: 100%;
    text-align: center;
    justify-content: center;
}

#rider-card .avatar {
    padding-top: 10px;
}

#rider-card .phone-avatar {
    display: none;
}

#rider-card .information {
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {
    #rider-card .avatar {
        display: none;
    }

    #rider-card .phone-avatar {
        display: block;
        height: 450px;
        padding-top: 40px;
        padding-bottom: 10px;
    }

    #rider-card a img {
        height: 40px;
    }
}