*:focus {
    outline: none;
}

#login-page {
    background-image: url(../../img/P9.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#login-page form {
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 0px 60px;
    padding-top: 50px;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255, 0.5);
    border-radius: 20px;
}

#login-page h1 {
    margin-block-start: 0px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

#login-page img {
    height: 55px;
    margin: 40px;
}

#login-page input {
    padding: 15px 5px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;    
}

#login-page input:focus {
    border: 1px solid red;
}

#login-page span {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: large;
}

#login-page .sign-up {
    display: block;
    margin-right: 5px;
    margin-top: auto;
    text-decoration-line: none;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: small;
}

#login-page button {
    font-size: larger;
    font-weight: bold;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    padding: 15px 0px;
    margin-top: 40px;
    border: none;
    border-radius: 40px;
    background-color: white;
}

#login-page button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

#login-page .span-container {
    display: flex;
    flex-direction: row;
}

#password-span {
    margin-top: 25px;
}

#email-div, #password-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#login-page .skrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

#forgot-password {
    text-align: center;
    margin: 25px;
    color: black;
    text-decoration-line: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

#forgot-password:hover {
    text-decoration-line: underline;
}

#email-span {
    margin-right: auto;
}

@media only screen and (max-width: 900px) {
    #login-page {
        background-image: url(../../img/VR46.jpg);
    }
    
    #login-page form {
        margin-top: 50px;
        width: 230px;
    }
}