#rider-card {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: MotoGP Font;
}

#rider-card h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}



#rider-card a img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    top: 7%;
}

#rider-card .rider {
    display: flex;
    justify-content: center;
}

#rider-card .card {
    width: 100%;
    text-align: center;
}

#rider-card .avatar {
    padding-top: 10px;
}

#rider-card .information {
    border: 1px solid black;
}